<div class="gallery-item">
  <div class="gallery-info">
    <div class="name">{{ artist.name }}</div>
    <div class="details">
      <span>ID: {{ artist.id }}</span> |
      <span>Biografia: {{ artist.biography && artist.biography.length > 100 ? (artist.biography |
        slice:0:100) +
        '...' : artist.biography }}</span> |
      <span>Estilo: {{ artist.style }}</span>
    </div>
  </div>
  <div class="gallery-actions">
    <button class="general-btn icon-btn" (click)="onView()">
      <mat-icon class="icon-left">search</mat-icon>
    </button>
    <button class="general-btn icon-btn warning" (click)="onEdit()">
      <mat-icon class="icon-left">edit</mat-icon>
    </button>
    <button class="general-btn icon-btn danger" (click)="onDelete()">
      <mat-icon class="icon-left">delete</mat-icon>
    </button>
  </div>
</div>