<mat-card *ngIf="user$ | async as user; else notLoggedIn" class="profile-card">
  <mat-card-title>Perfil de Usuario</mat-card-title>
  <mat-card-content>
    <p><strong>ID:</strong> {{ user.id }}</p>
    <p><strong>Nombre:</strong> {{ user.name }}</p>
    <p><strong>Email:</strong> {{ user.email }}</p>
    <p><strong>Rol:</strong> {{ user.role }}</p>
  </mat-card-content>
</mat-card>

<ng-template #notLoggedIn>
  <p>No has iniciado sesión.</p>
</ng-template>

<!-- Opciones de administrador fuera del mat-card -->
<div *ngIf="(user$ | async)?.role === 'ADMIN'" class="admin-panel">
  <h2 class="panel-title">Opciones de Administrador</h2>

  <div class="admin-buttons">
    <button class="general-btn" (click)="goToManageUsers()">
      Administrar Usuarios
    </button>
    <button class="general-btn" (click)="goToManageGalleries()">
      Administrar Galerías
    </button>
    <button class="general-btn" (click)="goToManageArtists()">
      Administrar Artistas
    </button>
    <button class="general-btn" (click)="goToManageExhibitions()">
      Administrar Exposiciones
    </button>
    <button class="general-btn" (click)="goToManageArtworks()">
      Administrar Obras
    </button>
    <button class="general-btn" (click)="goToManagePromotions()">
      Administrar Promociones
    </button>
  </div>
</div>