<div class="card">
  <img [src]="exhibition.picture" alt="{{ exhibition.title }}" class="card-img" />
  <div class="card-content">
    <a class="link" [routerLink]="['/exhibitions', exhibition.id, 'profile']">
      {{ exhibition.title }}
    </a>
    <p class="description">{{ exhibition.description }}</p>
  </div>
  <div *ngIf="isAdmin" class="actions">
    <button class="general-btn icon-btn" (click)="onView()">
      <mat-icon class="icon-left">search</mat-icon>
    </button>
    <button class="general-btn icon-btn warning" (click)="onEdit()">
      <mat-icon class="icon-left">edit</mat-icon>
    </button>
    <button class="general-btn icon-btn danger" (click)="onDelete()">
      <mat-icon class="icon-left">delete</mat-icon>
    </button>
  </div>
</div>