<div *ngIf="user?.role === 'ADMIN'" class="admin-panel">

  <button class="general-btn" (click)="goToManageGalleries()">
    Administrar Galerías
  </button>

  <button class="general-btn add-btn" (click)="addGallery()">
    Añadir Galería
  </button>

</div>

<h2 class="title">Nuestras Galerías</h2>

<div class="gallery-grid">
  <app-gallery-card *ngFor="let gallery of galleries" [gallery]="gallery" [isAdmin]="isAdmin"
    (edit)="editGallery($event)" (delete)="deleteGallery($event)"
    (view)="viewGalleryProfile($event)">
  </app-gallery-card>
</div>