<mat-card *ngIf="user; else notLoggedIn" class="profile-card">
  <mat-card-title>Perfil de Usuario</mat-card-title>
  <mat-card-content>
    <p><strong>ID:</strong> {{ user.id_usuario }}</p>
    <p><strong>Nombre:</strong> {{ user.nombre }}</p>
    <p><strong>Email:</strong> {{ user.email }}</p>
    <p><strong>Rol:</strong> {{ user.rol }}</p>
  </mat-card-content>
</mat-card>

<ng-template #notLoggedIn>
  <p>No has iniciado sesión.</p>
</ng-template>

<!-- Opciones de administrador fuera del mat-card -->
<div *ngIf="user?.rol === 'ADMIN'" class="admin-panel">
  <h2 class="panel-title">Opciones de Administrador</h2>

  <div class="admin-buttons">
    <button class="general-btn" (click)="goToRegister()">
      Registrar Usuario
    </button>
    <button class="general-btn" (click)="goToRegisterGallery()">
      Registrar Galería
    </button>
    <button class="general-btn" (click)="goToRegisterArtist()">
      Registrar Artista
    </button>
  </div>
</div>