<div class="card">
  <div class="card-body">
    <h3>
      <a class="link" [routerLink]="['/promotions', promotion.id, 'profile']">
        {{ promotion.description }}
      </a>
    </h3>
  </div>
  <div *ngIf="isAdmin" class="actions">
    <button class="general-btn icon-btn" (click)="onView()">
      <mat-icon class="icon-left">search</mat-icon>
    </button>
    <button class="general-btn icon-btn warning" (click)="onEdit()">
      <mat-icon class="icon-left">edit</mat-icon>
    </button>
    <button class="general-btn icon-btn danger" (click)="onDelete()">
      <mat-icon class="icon-left">delete</mat-icon>
    </button>
  </div>
</div>