.exhibition-container {
  max-width: 80%;
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.exhibition-card {
  padding: 1rem;
}

.lists-container {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
}

.list-card {
  flex: 1 1 45%;
  min-width: 250px;
}

.empty-text {
  font-style: italic;
  color: gray;
}

.loading-container,
.error-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.link {
  color: #d35400; /* color naranja */
  text-decoration: none;
  font-weight: 500;

  &:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}

/* Nuevo bloque para icono + texto */
.icon-text {
  display: flex;
  align-items: center;
  gap: 8px;
}

.icon-text .icon {
  font-size: 20px;
  line-height: 1;
  display: inline-flex;
  align-items: center;
}


.exhibition-card {
  padding: 1rem;
}

.exhibition-content {
  display: flex;
  gap: 1rem;
  align-items: flex-start;
}

.exhibition-info {
  flex: 1; /* ocupa todo el espacio disponible */
}

.image-wrapper {
  flex-shrink: 0; /* la imagen no se encoge */
}

.exhibition-image {
  max-width: 200px; /* ajusta según necesites */
  border-radius: 4px;
}