<div class="gallery-item">
  <div class="gallery-info">
    <div class="name">{{ gallery.name }}</div>
    <div class="details">
      <span>ID: {{ gallery.id }}</span> |
      <span>Ciudad: {{ gallery.city }}</span> |
      <span>Email: {{ gallery.email }}</span>
    </div>
  </div>
  <div class="gallery-actions">
    <button class="general-btn icon-btn" (click)="onView()">
      <mat-icon class="icon-left">search</mat-icon>
    </button>
    <button class="general-btn icon-btn warning" (click)="onEdit()">
      <mat-icon class="icon-left">edit</mat-icon>
    </button>
    <button class="general-btn icon-btn danger" (click)="onDelete()">
      <mat-icon class="icon-left">delete</mat-icon>
    </button>
  </div>
</div>