<div class="register-container">
  <mat-card class="register-card">
    <!-- Título dinámico -->
    <h2 class="title">{{ isEdit ? 'Editar artista' : 'Crear nuevo artista' }}</h2>

    <!-- FORMULARIO -->
    <form *ngIf="!registered" [formGroup]="form" (ngSubmit)="onSubmit()">

      <!-- Nombre -->
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Nombre del artista</mat-label>
        <input matInput formControlName="name" required />
      </mat-form-field>

      <!-- Biografía -->
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Biografía</mat-label>
        <textarea matInput formControlName="biography"></textarea>
      </mat-form-field>

      <!-- Estilo -->
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Estilo artístico</mat-label>
        <input matInput formControlName="style" />
      </mat-form-field>

      <!-- Imagen (URL) con vista previa -->
      <div class="input-preview-container">
        <!-- Input de URL -->
        <mat-form-field appearance="outline" class="input-field">
          <mat-label>Imagen del artista (URL)</mat-label>
          <input matInput formControlName="picture" placeholder="https://..." />
        </mat-form-field>

        <!-- Vista previa -->
        <div class="image-preview" *ngIf="form.get('picture')?.value">
          <img [src]="form.get('picture')?.value" alt="Vista previa" />
        </div>
      </div>

      <!-- Galería (opcional) -->
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Galería (opcional)</mat-label>
        <mat-select formControlName="gallery_id">
          <mat-option [value]="null">Sin galería</mat-option>
          <mat-option *ngFor="let gallery of galleries" [value]="gallery.id">
            {{ gallery.id }}
          </mat-option>
        </mat-select>
        <mat-icon matSuffix>museum</mat-icon>
      </mat-form-field>

      <!-- Botón dinámico -->
      <button type="submit" [disabled]="loading" class="full-width login-btn">
        {{ loading ? (isEdit ? 'Actualizando...' : 'Registrando...') : (isEdit ? 'Actualizar' :
        'Registrar') }}
      </button>

      <!-- Mensaje de error -->
      <div *ngIf="errorMessage" class="error-msg">
        {{ errorMessage }}
      </div>
    </form>

    <!-- MENSAJE DE ÉXITO -->
    <div *ngIf="registered" class="success-msg">
      <p>
        <span class="check"></span>
        {{ isEdit ? 'Artista actualizado con éxito' : 'Artista registrado con éxito' }}
      </p>
      <button class="general-btn" (click)="goToProfile()">
        Volver al Perfil
      </button>
    </div>
  </mat-card>
</div>