/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.general-btn {
  padding: 8px 15px;
  border: none;
  border-radius: 6px;
  background-color: #d35400;
  color: #fff;
  cursor: pointer;

  &:hover {
    background-color: #e67e22;
  }
}
